.Movie {
  height: auto !important;
  margin: 0 auto;
}
.Movie > * {
  max-width: none !important;
  /* margin: 0 auto !important; */
}
.first-additional > div {
  margin-bottom: 1rem;
}
.movie-rating {
  display: inline-flex;
}
.movie-rating > span {
  font-size: 24px;
}
.info-container > *:first-child {
  flex-grow: 1;
}
.info-container > * {
  width: auto !important;
}
.additional-info > div:not(:last-child) {
  margin-bottom: 0.5rem !important;
}
.plyr__controls > .plyr__volume {
  display: flex !important;
}
.plyr__controls > .plyr__volume > * {
  display: block !important;
}
@media (max-width: 575.98px) {
  .plyr__controls__item[data-plyr="pip"] {
    display: none;
  }
  .Movie {
    width: 100%;
  }
}
@media (min-width: 576px) {
  .Movie {
    width: 97.5% !important;
  }
}
@media (min-width: 768px) {
  .Movie {
    width: 92.5% !important;
  }
}
@media (min-width: 992px) {
  .Movie {
    width: 85% !important;
  }
}
@media (min-width: 1200px) {
  .Movie {
    width: 72.5% !important;
  }
}
